.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.container p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.container p:nth-child(3) {
    color: #737885;
    max-width: 500px;
}

.container img {
    max-width: 280px;
    padding: 40px 0 20px 0;
}