.container {
    position: relative;
    height: 80px;
    background: #2f2f2f;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 150px;
}

.toggle {
    color: #fff;
    cursor: pointer;
}

nav {
    display: none;
}

.link {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 110px 10px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 40px;
    position: relative;
}

.icon {
    margin-right: 20px;
}

.open {
    width: 100%;
    padding: 40px 0;
    border-radius: 0 0 25px 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #2f2f2f;
    top: 75px;
    left: 0;
    animation: slide .2s ease-out
}

.active {
    background-color: #7FACFE
}

@keyframes slide {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transfrom: translateY(0);
    }
}

@media screen and (min-width: 876px) {
    .container {
        max-width: 260px;
        min-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .toggle {
        display: none;
    }

    .logo {
        margin: 40px 0;
    }

    .link::before {
        content: '';
        width: 0;
        display: inline-block;
        position: absolute;
        height: 100%;
        background-color: none;
        border-radius: 4px;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;
        z-index: -1;
        opacity: 25%;
    }

    .link:hover::before {
        background: #7FACFE;
        width: 100%;
    }
}