.container {
    background-color: #2F2F2F;
    border-radius: 15px;
    width: calc(100% /3 - 50px);
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    margin: 20px 0 50px 0;
    box-shadow: 0 10px 20px #7C7C7C
}

.text {
    margin-top: 10px;
    color: #fff;
}

.value {
    margin-top: 20px;
    color: #FAA486;
    font-weight: 500;
    font-size: 24px;
}