.card {
    background-color: #2F2F2F;
    width: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px #7C7C7C;
    padding: 25px 0;
}

.card__value {
    margin-top: 10px;
    color: #fff;
}

.card__text {
    margin-top: 20px;
    color: #FAA486;
    font-weight: 500;
    font-size: 24px;
}