.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 20px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

@media screen and (min-width: 876px) {
    .container {
        flex-direction: row;
    }

    main {
        /* margin: 40px 20px 0 20px; */
        margin: 40px auto;
        width: 100%;
        max-width: 1200px;
    }
}